.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  overflow: hidden;
  outline: none;
}
.modalImg {
  object-fit: cover;
  max-height: 95dvh;
  border-radius: 12px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(57, 55, 57, 0.5);
}
